.search-element{
   padding-top:15px;
   .form-group{
      position: relative;
      .iconfont{
         position: absolute;
         left:5%;
         top:8px;
         color:#a6a6ad;
      }
      .form-control {
         padding-left:12%;
      }
   }
}